

html { 
    overflow-y: scroll; overflow-x:hidden; 
}
body{
  margin: 0px;
  overflow-y: scroll;
  position: absolute;
}
footer{
  position:static;
 
}
 
.App {
  text-align: center;
  margin-top: 100px;
}
.navbar {
  text-align: center;
  position: fixed !important;
  
}

.navbar-brand {
  color: white;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
  
}
.img-fluid {
  height: 15rem !important;
  width: 100% !important;
}
.form-inline {
  margin-top: 17px !important;
}
.imgBox {
  width: 100px;
  height: 100px;
  background-size: cover;
  border: 1px solid #3F729B;
  margin-top: 10px;
}

.card{
  background-color: transparent;
}